strong {
    font-weight: bold;
}

h2 {
    padding: 0.5em 0;
}

#subscribers {
    padding-top: 0.5em;
    font-size: 11px;
}

#views {
    font-size: 12px;
}

#bottom-container {
    display: flex;
    height: 100vh;
}

.video-description {
    padding-top: 1em;
    margin-left: 10em;
    padding-right: 10em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

section {
    padding: 24px 24px 0 0;
    margin-left: 24px;
    width: 70%;
}

aside {
    padding: 24px 24px 0 0;
    width: 20%;
}

#youtube-logo {
    width: 80px;
    height: 24px;
}

form {
    display: flex;
    align-items: center;
}

#search {
    width: 562px;
}

iframe {
    width: 90%;
    height: 603.75px;
}

#video {
    text-align: end;
}

#video-info {
    text-align: start;
    padding-left: 10em;
}

#thumbnail {
    flex-direction: column;
}

#thumbnail img {
    width: 168px;
    height: 94px;
    padding-bottom: 1em;
}

#sidebar {
    padding-bottom: 1em;
}

figure {
    display: flex;
}

figcaption {
    margin-left: 1em;
}

#video-description {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

#channel-name {
    padding-left: 10em;
}

#subscribe-button {
    width: 2em;
    height: 2em;
}